<!DOCTYPE html>
<html>
<head>
  <title>Oh Well - Latest Chapter</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	
 <div class="navigation">
	<ul>
      <li><a href="/">Home</a></li>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/about">About</a></li>
    </ul>
 </div>
  <h2>Oh Well</h2>
  <div class="comic-wrapper">
 	<p>Oh Well is a semi-fictional story created bu Joshua Maher. It is nostaligc, reminiscent, and some of it may actually be true, from a certian point of view.</p>
 	<p>As they say, "Once upon a time is just living in the past..."</p>
</div>
</div>
</body>
</html>