<!DOCTYPE html>
<html>
<head>
  <title>Oh Well - Latest Chapter</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/site.css">
</head>
<body>
  <div class="container">	
		<div class="header">			
		</div>
			
		<div class="menu">
			<div class="brand">
				<img src="/assets/OWL-TITLE.jpg" alt="Oh Well Title Image">				
			</div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		
		<div class="main">          
      <div class="prose">
        <p>Oh Well is a semi-fictional story created by Joshua Maher. It is nostaligc, reminiscent, and some of it may actually be true, from a certian point of view.</p>
        <p>As they say, "Once upon a time is just living in the past..."</p>
		  </div>
    <div class="footer">
    </div>
	</div>
</body>
</html>