<!DOCTYPE html>
<html>
<head>
  <title>Oh Well - Latest Chapter</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/site.css">
</head>
<body>
	<div class="container">	
		<div class="header">			
		</div>
			
		<div class="menu">
			<div class="brand">
				<img src="/assets/OWL-TITLE.jpg" alt="Oh Well Title Image">				
			</div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		
		<div class="main">    
      <h1>Oh Well - Archive</h1>
      <ul>
        <% comic_chapters.each do |chapter| %>
          <li>Chapter <%= chapter[:chapter] %></li>
          <ul>
            <% chapter[:pages].each do |page| %>
              <li><%= page %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
		</div>
    <div class="footer">
    </div>
	</div>
</body>
</html>