<!DOCTYPE html>
<html>
<head>
  <title>Oh Well - Archive</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
  <h1>Oh Well - Archive</h1>
  <ul>
    <% comic_chapters.each do |chapter| %>
      <li><%= chapter[:chapter] %></li>
      <ul>
        <% chapter[:pages].each do |page| %>
          <li><%= page %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</body>
</html>
