body {
  background-color: #212121;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
}

.comic-image {
  max-width: 100%;
  height: auto;
}

/* Stereo Theme */
.stereo {
  position: relative;
  margin: 50px auto;
  width: 400px;
  height: 250px;
  background-color: #000000;
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.speakers {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 100px;
  height: 50px;
  background-color: #444444;
  border: 3px solid #ffffff;
  border-radius: 5px;
  z-index: 1;
}

.speakers:before,
.speakers:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #444444;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.speakers:before {
  top: 5px;
  left: 5px;
}

.speakers:after {
  top: 5px;
  right: 5px;
}

.noise-meter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 120px;
  height: 20px;
  background-color: #444444;
  border: 3px solid #ffffff;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.noise-meter .noise-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff0000;
  transition: width 0.5s ease;
}

.comic-wrapper {
  display: flex;
  justify-content: center;
}

.comic-image {
  max-width: 50%;
  height: auto
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.font-face { 
  font-family: HandWriting; 
  src: url('handwriting.ttf'); 
} 

.h2 {
  font-family: HandWriting
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  background-color: #333333;
  height: 100vh;
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin-bottom: 10px;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}
